<header class="flex justify-center items-center py-5 w-[1120px] mx-auto relative">

    <img class="absolute top-2 left-0 rounded-full w-16 h-16 mt-2 transition-transform duration-300 ease-in-out transform hover:scale-150 active:scale-175 cursor-pointer"
        src="https://i.postimg.cc/CL486xgZ/Whats-App-Image-2024-09-24-at-12-47-50-AM.jpg" 
        alt="JuanFoto"/>
    
    
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/" class="transition duration-300 ease-in-out transform hover:text-blue-500 hover:scale-110 focus:underline">
            Home
        </a>
        <a href="/" class="transition duration-300 ease-in-out transform hover:text-blue-500 hover:scale-110 focus:underline">
            About
        </a>
        <a href="/project" class="transition duration-300 ease-in-out transform hover:text-blue-500 hover:scale-110 focus:underline">
            Projects
        </a>
        <a href="/contact" class="transition duration-300 ease-in-out transform hover:text-blue-500 hover:scale-110 focus:underline">
            Contact
        </a>
    </nav>
</header>
